@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #ff6e00;
  --color-background-light: #f6f7f7;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 min-h-screen font-sans;
  }
}
